.App {
  text-align: center;
  background-color:#e3e4e9;
  height: 100vh;
}

.App-logo {
  height: 90%;
  pointer-events: none;
  margin-left: 4%;
}


.App-header {
  background-color: #5a6885;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.add-product {
  display: flex;
  justify-content: space-evenly;
}

.add-product > * {
  width: 20%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 250px;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid rgba(133, 132, 143, 0.699);
  box-shadow: 4px 3px 4px 0px rgba(133, 132, 143, 0.699);
}