.App {
  text-align: center;
  background-color:#e3e4e9;
  height: 100vh;
}

.App-logo {
  height: 90%;
  pointer-events: none;
  margin-left: 4%;
}


.App-header {
  background-color: #5a6885;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
